<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.307728758098-t43a41oi4ccu8p9vi6a3dufguc99qtbk</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>tmap</string>
		<string>comgooglemaps</string>
	</array>
	<key>NMFNcpKeyId</key>
	<string>$(NAVER_MAP_API_KEY)</string>
	<key>NAVER_MAP_API_KEY_ID</key>
	<string>$(NAVER_MAP_API_KEY)</string>
	<key>NAVER_MAP_API_KEY_SECRET</key>
	<string>$(NAVER_MAP_API_KEY_SECRET)</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>VWORLD_API_KEY</key>
	<string>$(VWORLD_API_KEY)</string>
</dict>
</plist>
